header {
	margin: 6% 10%;

	a {
		&:focus {
			outline: none;
			border: none;
			img {
				outline: none;
				border: none;
				border-radius: 5px;
				box-shadow: 0 0 0 4px white, 0 0 0 6px black;
			}
		}
		img {
			width: 45%;
			padding: 5px;
			transition: 0.3s ease-in;
		}
	}
}

div.image-container {
	background: url(../../images/hero-mobile.jpg) no-repeat;
	background-size: cover;
	height: 38vh;
}

main {
	margin: 5% 10% 0;

	section {
		h1.first-title {
			font-family: $font;
			font-weight: 300;
			font-size: 2.8rem;
			letter-spacing: 12px;
			color: $desaturated-red;
			text-align: center;
		}
		h1.second-title {
			@extend h1.first-title;
			color: $dark-grayish-red;
			font-weight: 400;
		}
		p {
			padding-top: 15px;
			@extend h1.first-title;
			font-size: 1.05rem;
			line-height: 1.5;
			font-weight: 400;
			letter-spacing: normal;
		}
	}

	form {
		margin: 15px 0;
		div.input-container {
			border: 1px solid $desaturated-red;
			border-radius: 20px;
			height: 40px;
			position: relative;
			transition: 0.3s ease-in;

			#error-icon {
				content: " ";
				display: block;
				width: 25px;
				height: 25px;
				background: url(../../images/icon-error.svg) no-repeat center;
				position: absolute;
				right: 21%;
				top: 6px;
				opacity: 0;
				transition: 0.3s ease-in;
			}

			[type="email"] {
				position: absolute;
				left: 0;
				padding: 10px;
				width: 72%;
				border: none;
				background-color: transparent;

				&:focus {
					outline: none;
				}
				&::placeholder {
					color: hsla(0, 36%, 70%, 0.5);
				}
			}
			[type="submit"] {
				position: absolute;
				right: -2px;
				top: -2px;
				border: none;
				border-radius: 20px;
				width: 20%;
				max-width: 100px;
				height: 42px;
				background: no-repeat center url(../../images/icon-arrow.svg), linear-gradient($gradient-first);
				box-shadow: 0 10px 20px hsla(0, 36%, 70%, 0.7);
				transition: 0.3s ease-in;

				&:hover {
					background: no-repeat center url(../../images/icon-arrow.svg), linear-gradient($gradient-second);
					box-shadow: 0 10px 20px $desaturated-red;
					cursor: pointer;
				}
			}
		}
		#error-message {
			display: block;
			margin-top: 12px;
			font-family: $font;
			font-weight: 300;
			font-size: 1.1rem;
			color: rgb(248, 10, 10);
			opacity: 0;
			transition: 0.3s ease-in;
		}
	}
}
p.success {
	color:$desaturated-red;
	padding-top: 15px;
	@extend h1.first-title;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: normal;
}
